# vim swap
.*.sw?

/etherpad/data/
/etherpad/build
/etherpad/derby.log
/etherpad/local
/etherpad/appjet-eth*.jar
/etherpad/etherpad-pne-*.jar

/etherpad/etc/*.properties

/infrastructure/lib/mysql-*
/infrastructure/lib/postgresql-*
